body {
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem 3rem;
    top: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 2rem; 
    margin: 0;
    padding: 5px;
    font-size: 1.1rem;
    margin-right: 4rem;
    
}

.navbar-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-links a:hover { 
    color: rgb(25, 183, 4); 
    border-bottom: 2px solid rgb(25, 183, 4); 
}

#user-btn {
    border: none;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
    
}

.header-content, .advise-header{
    margin: 0.5rem 2rem;
    padding: 1.2rem;
}

h1, h4 { font-weight: bold; }

.get-started, #submit-btn {
    background-color: rgb(25, 183, 4);
    color: white;
    border: none;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-weight: 600;
}
#submit-btn { width: 80%; margin-left: 150px; }

.advise-header, h2 {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.advise-content {
    background-color: white;
    border: none;
    padding: 1.2rem;
    margin: 0.5rem 2rem;
    border-radius: 10px;
}

label {
    display: block;
    color: rgb(51 65 85);
    margin-bottom: 8px;
    font-size: 14px;
}

.crops-selection, .soil-type, input[type="text"] {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid rgb(186, 176, 176);
    border-radius: 10px;
    background: none;
    margin-bottom: 25px;
    
}

.testimony-cards {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 1.2rem;
}

.testimony-card {
    background-color: #fff;
    padding: 25px;
    border-radius: 30px;
}

h4, .test-par {text-align: center;}
.test-par {font-size: 1.1rem;}

.footer {
    background-color: rgb(30, 41, 59 );
    color: white;
    display: flex;
    justify-content: space-around;

}
h5 {
    font-size: 0.95rem; 
    text-align: center;
    font-weight: 550;
}
ul li {
    list-style: none;
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: rgb(148, 163, 184);
}